* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    background-color: rgb(241, 250, 250);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    background: rgb(236, 143, 143);
    padding: 1rem;
    background-color: rgb(241, 250, 250);
    
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* height: 100px;
    width: 250px; */
    border-radius: 10px;
    color: rgb(36, 83, 102);
    cursor: pointer;
    transition: 400ms;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    gap: 0.3rem;
    text-decoration: none;
  }
  
  .wrapper .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .wrapper .card p.second-text {
    font-size: .7em;
  }
  
  .wrapper .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .wrapper:has(.card:hover) .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

.card img {
    width: 100%; 
}


#toForm {
    padding: 1rem;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(241, 250, 250);
}

.btn {
    background: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 220px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    border: 1px solid black;
  }
  
  
 .btn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  .btn:hover {
    color: #fff;
  }
  
  .btn:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

  @media (max-width: 1000px) {
    .wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 720px) {
    .wrapper {
      grid-template-columns: 1fr;
    }
    .wrapper:has(.card:hover) .card:not(:hover) {
      filter: none;
      transform: scale(0.9, 0.9);
    }
  }